<div class="container mx-auto px-4">
  <h2 class="text-2xl font-bold">
    QR-Codes / Locations
  </h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-2">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <!-- <th class="px-6 py-3">Code / URL</th> -->
          <th class="px-6 py-3">Location</th>
          <th class="px-6 py-3">Infektionen</th>
          <th class="px-6 py-3">Aktionen</th>
        </tr>
      </thead>
      <tbody class="bg-white dark:bg-slate-800">
        <tr *ngFor="let location of checkInService.locations;"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <!-- <td scope="row" class="px-6 py-4 break-all max-w-md">
            <a href="{{ checkInService.qrCodes[location.index] }}">{{ checkInService.qrCodes[location.index] }}</a>
          </td> -->
          <td class="px-6 py-4">
            <p>
              <strong>Beschreibung:</strong> {{ location.description }} –
              <strong>Adresse:</strong> {{ location.address }}
            </p>
            <p *ngIf="location.eventStart && location.eventEnd">
              <strong>Event-Start:</strong> {{ formatDate(location.eventStart) }} –
              <strong>Event-Ende:</strong> {{ formatDate(location.eventEnd) }}
            </p>
            <p>{{ location.locationId }}</p>
          </td>
          <td class="px-6 py-4">
            <p>{{ downloadService.infections[location.locationId]?.length ?? 0 }}</p>
            <ul>
              <li *ngFor="let infection of downloadService.infections[location.locationId]">
                <strong>Start:</strong> {{ formatDate(infection.start) }} –
                <strong>Ende:</strong> {{ formatDate(infection.end) }}
              </li>
            </ul>
          </td>
          <td class="px-6 py-4">
            <button type="button"
              class="bg-green-600 hover:bg-green-800 px-4 py-2 mr-2 text-sm leading-5 rounded-md font-semibold text-white"
              (click)="checkInService.checkIn(location.index)">Check-In</button>
            <button type="button"
              class="bg-sky-500 hover:bg-sky-700 px-4 py-2 mr-2 text-sm leading-5 rounded-md font-semibold text-white"
              (click)="submissionService.createSubmission(location.index)">Infektionsmeldung</button>
            <button type="button"
              class="bg-red-500 hover:bg-red-700 px-4 py-2 text-sm leading-5 rounded-md font-semibold text-white"
              (click)="removeCode(location.index)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-row flex-wrap justify-start mb-2">
    <input type="text" class="w-96 px-3 py-2.5 mr-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    invalid:border-pink-500 invalid:text-pink-600
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500" placeholder="Neuen QR-Code hinzufügen"
      [(ngModel)]="newCode">
    <button type="button"
      class="bg-sky-500 hover:bg-sky-700 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-white"
      (click)="addCode()">Hinzufügen</button>
    <button type="button"
      class="ml-auto bg-yellow-400 hover:bg-yellow-500 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-white"
      (click)="downloadService.checkInfections()">Infektionsmeldungen abrufen</button>
  </div>

  <h2 class="text-2xl font-bold">Check-Ins</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-2">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-6 py-3">LocationId</th>
          <th class="px-6 py-3">Check-In</th>
          <th class="px-6 py-3">Check-Out</th>
          <th class="px-6 py-3">transmissionRiskLevel</th>
        </tr>
      </thead>
      <tbody class="bg-white dark:bg-slate-800">
        <tr *ngIf="checkInService.checkIns.length === 0"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td colspan="4" class="px-6 py-4 font-medium text-gray-900 dark:text-white">Keine Check-Ins vorhanden.</td>
        </tr>
        <tr *ngFor="let checkIn of checkInService.checkIns;"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">{{ checkIn.locationId | base64 }}</td>
          <td class="px-6 py-4">{{ formatDate(checkIn.startIntervalNumber) }}</td>
          <td class="px-6 py-4">{{ formatDate(checkIn.endIntervalNumber) }}</td>
          <td class="px-6 py-4">{{ checkIn.transmissionRiskLevel }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button"
    class="bg-sky-500 hover:bg-sky-700 px-4 py-2 mr-2 text-sm leading-5 rounded-md font-semibold text-white"
    (click)="submissionService.createSubmission()">Infektionsmeldung für obige Check-Ins</button>
</div>

<div #dynamicContent>
</div>
